{
  "swagger": "2.0",
  "info": {
    "title": "System",
    "version": "1.0",
    "description": "The System API provides general data on the full eToro System"
  },
  "host": "api.etoro.com",
  "basePath": "/System/V1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/Insights/{InsightType}": {
      "get": {
        "description": "The Insights method provides an insight on the trends inside the eToro system",
        "operationId": "588d98407dfd9412f442769a",
        "summary": "Insights",
        "parameters": [
          {
            "name": "InsightType",
            "in": "path",
            "description": "What type of insight we wish to see",
            "required": true,
            "type": "string",
            "default": "Uniques",
            "enum": [
              "Uniques"
            ]
          },
          {
            "name": "InstrumentIds",
            "in": "query",
            "description": "Comma delimited string containing instrument ids which will be explicitly returned",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null
          }
        }
      }
    },
    "/DailyPriceChange": {
      "get": {
        "description": "The daily price change method shows the daily price change of the instruments in the system. ",
        "operationId": "58c8d771ec28c416608576c3",
        "summary": "Daily Price Change",
        "parameters": [
          {
            "name": "Sort",
            "in": "query",
            "description": "The order of the response regarding the daily change",
            "required": true,
            "type": "string",
            "default": "ASC",
            "enum": [
              "ASC"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "description": "The current page. If omitted the default will be the first page",
            "type": "number"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The number of results in each page. If omitted, the page size will default to 20",
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response will contain an array of items which consist of the instrument ID and the daily price change percentage",
            "examples": {
              "application/json": "[\n  {\n    \"instrumentId\": 4037,\n    \"dailyPriceChange\": -12.58\n  },\n  {\n    \"instrumentId\": 4180,\n    \"dailyPriceChange\": -10.07\n  }\n]"
            }
          }
        }
      }
    },
    "/MarketEvents": {
      "get": {
        "description": "The Market Events method returns information on significant market events. ",
        "operationId": "59a4ed9c92c5250dd8eb26f3",
        "summary": "Market Events",
        "parameters": [
          {
            "name": "MinDate",
            "in": "query",
            "description": "Minimum date for events. In case it is omitted it will be 10 days",
            "type": "string"
          },
          {
            "name": "MaxDate",
            "in": "query",
            "description": "Maximum date for events. In case it is missing the current timestamp will be used",
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "The current page. If omitted the default will by 1",
            "type": "number"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The pagesize. If omitted the default page size will be 10",
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The returned object contains the total number of market events in the requested interval, and an array of events according to the requested paging.\n<br><br>\nThe following describes each item:\n\n<br><br>\n<table class=\"response-row\">\n<tr>\n<td class=\"response-col1\">EventId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The unique identifier of the event</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">EventDesc</td><td class=\"response-col2\">string</td><td class=\"response-col3\">Description of the event type</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">Occurred</td><td class=\"response-col2\">datetime</td><td class=\"response-col3\">Timestamp of the event</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">InstrumentId</td><td class=\"response-col2\">int</td><td class=\"response-col3\">The instrument ID of the event. A full list of instruments can be obtained from the <a href=\"https://api-portal.etoro.com/docs/services/5784e8446361c811ccfdf536/operations/5784f6ee6361c811ccfdf53b\">Metadata/Instruments API</a></td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">ChangePct</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The change percent of the event</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">IntervalDesc</td><td class=\"response-col2\">string</td><td class=\"response-col3\">The interval which the event refers to</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">ChangeDesc</td><td class=\"response-col2\">string</td><td class=\"response-col3\">Change description, possible values may by percent change, dollar change, pip change</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">PrevRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The baseline rate of which the event was calculated</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">CurrRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The rate which triggered the event</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">DirectionDesc</td><td class=\"response-col2\">string</td><td class=\"response-col3\">The direction of a streak event, can be up or down</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">Duration</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The duration in days for a streak event</td>\n</tr>\n\n</table",
            "examples": {
              "application/json": "{\n  \"totalItems\": 157,\n  \"items\": [\n    {\n      \"changePct\": 1.52,\n      \"intervalDesc\": \"Daily\",\n      \"changeDesc\": \"PercentChange\",\n      \"prevRate\": 17.61,\n      \"currRate\": 17.88,\n      \"eventId\": 5671,\n      \"eventDesc\": \"RateChange\",\n      \"occurred\": \"2017-08-28T21:08:30.38Z\",\n      \"instrumentId\": 63\n    },\n   {\n      \"changePct\": 17.46,\n      \"changeDesc\": \"PercentChange\",\n      \"prevRate\": 0,\n      \"currRate\": 0,\n      \"eventId\": 5618,\n      \"eventDesc\": \"Streak\",\n      \"occurred\": \"2017-08-25T13:02:56.513Z\",\n      \"instrumentId\": 4188,\n      \"directionDesc\": \"Up\",\n      \"duration\": 4\n    },\n}"
            }
          }
        }
      }
    },
    "/AutoComplete": {
      "get": {
        "description": "The auto-complete method allows you to create an \"auto-complete\" like widget with both users and instruments in the system",
        "operationId": "5a5da5128cf2d116449e2640",
        "summary": "Auto-Complete",
        "parameters": [
          {
            "name": "Prefix",
            "in": "query",
            "description": "The search term you will be executing",
            "required": true,
            "type": "string"
          },
          {
            "name": "InstrumentCount",
            "in": "query",
            "description": "The number of instruments in the result set",
            "required": true,
            "type": "number"
          },
          {
            "name": "UserCount",
            "in": "query",
            "description": "The number of users in the result set",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": null
          }
        }
      }
    }
  },
  "tags": []
}