{
  "swagger": "2.0",
  "info": {
    "title": "Trading",
    "version": "1.0",
    "description": "The Trading API allows the development of the full trading capabilities in the eToro platform"
  },
  "host": "api.etoro.com",
  "basePath": "/API/Trading/V1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/Account/Login": {
      "post": {
        "description": "<br>\nThe account login method provides the ability to login to the eToro system.\n<br><br>\nThis operation is essential as it provides the credentials that are needed for subsequent API calls. The username and password are related to an account\n<br><br>",
        "operationId": "589831007dfd940ef4e0157e",
        "summary": "Account",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Login successful. The response will contain two members which need to be sent in subsequent requests as header variables",
            "examples": {
              "application/json": {
                "x-token": "423438aiofznYoQQvnTLFlMX0BK-3Mmlrb7CbOPDVbO1dTCiF0dpS8BjV7TMsXsFeFQ1-NlT7VScgFCCQfwdsdfDgqM8PQrFY2B5SSll21YCR7lZ8SbgxpBScmRmiwqAm2yMo-Gh%7cqn7BPMjKfmAaWSIfaZ20wilRqIBUTI0CMx1oyrug0fVplR6jOe1lMDZ4%7cX65AdWEa-yfZcQs%7cKrWlzwCBYp9vtM7FRfIflESgcpRJvLZVqFjqYugvlq-qN3T-ZkIFnAKCXAil4gc1yFNTCfRSHM3nPq6qyFoSozoAzycR2cPnEM08ho8kSnBlr7am0opnOgYxdfAIJtBH3e6cvudmoXBLlA%5f%5f",
                "x-csrf-token": "OqnCZaasdfaghstryCDBPb5e7uX13KPfOg%5f%5f"
              }
            }
          },
          "401": {
            "description": "This will be returned in case the login operation failed"
          }
        }
      },
      "delete": {
        "description": "<br>\nThe DELETE operation will perform a logoff from the account.\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "589831f97dfd940ef4e0157f",
        "summary": "Account<span></span>  ",
        "parameters": [
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Logout succeeded"
          }
        }
      }
    },
    "/Trade/{System}": {
      "get": {
        "description": "The Trade method returns the open trades of the user according to the system\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "58983e9b7dfd940ef4e01580",
        "summary": "Trade",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An array of trades. Each trade contains the following:\n<br><br>\n<table class=\"response-row\">\n<tr>\n<td class=\"response-col1\">positionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The position ID is a unique identifier of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">instrumentId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The instrument ID of the trade. For a full list of IDs use the <a href=\"https://api-portal.etoro.com/docs/services/5784e8446361c811ccfdf536/operations/5784f6ee6361c811ccfdf53b\">Metadata/Instruments API</a></td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">isBuy</td><td class=\"response-col2\">boolean</td><td class=\"response-col3\">Are we buying or selling the instrument</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">leverage</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The trade's leverage</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The trade's opening rate</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openTimestamp</td><td class=\"response-col2\">date-time</td><td class=\"response-col3\">The timestamp of the opening of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">stopLossRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The stop/loss rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">takeProfitRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The take-profit rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">orderId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The original order ID in case the trade was opened with a LMT order</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">socialTradeId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">parentPositionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the parent social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">investment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The current invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">initialInvestment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The initial invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">fees</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The total fees accurred in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">units</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The number of units held on the asset in this trade</td>\n</tr>\n\n\n\n\n\n\n\n\n\n\n\n</table>\n<br>",
            "examples": {
              "application/json": "[\n  {\n    \"positionId\": 551556164,\n    \"instrumentId\": 18,\n    \"isBuy\": false,\n    \"leverage\": 10,\n    \"openRate\": 1192.61,\n    \"openTimestamp\": \"2017-01-30T06:04:00.17Z\",\n    \"stopLossRate\": 1306.18,\n    \"takeProfitRate\": 1079.89,\n    \"orderId\": 0,\n    \"socialTradeId\": 0,\n    \"parentPositionId\": 0,\n    \"investment\": 100,\n    \"initialInvestment\": 100,\n    \"fees\": 0,\n    \"units\": 0.84\n  },\n  {\n    \"positionId\": 557200209,\n    \"instrumentId\": 26,\n    \"isBuy\": true,\n    \"leverage\": 10,\n    \"openRate\": 10346.25,\n    \"openTimestamp\": \"2017-02-06T01:01:04.453Z\",\n    \"stopLossRate\": 9829.1,\n    \"takeProfitRate\": 10863.4,\n    \"orderId\": 10654742,\n    \"socialTradeId\": 0,\n    \"parentPositionId\": 0,\n    \"investment\": 200,\n    \"initialInvestment\": 200,\n    \"fees\": 0,\n    \"units\": 0.19\n  }\n]"
            }
          }
        }
      }
    },
    "/EntryOrder/{System}": {
      "get": {
        "description": "The Order returns all the open orders in the system\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "58a94d25ec28c405c05f8198",
        "summary": "Entry Order",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An array of trades. Each trade contains the following:\n<br><br>\n<table class=\"response-row\">\n<tr>\n<td class=\"response-col1\">positionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The position ID is a unique identifier of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">instrumentId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The instrument ID of the trade. For a full list of IDs use the <a href=\"https://api-portal.etoro.com/docs/services/5784e8446361c811ccfdf536/operations/5784f6ee6361c811ccfdf53b\">Metadata/Instruments API</a></td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">isBuy</td><td class=\"response-col2\">boolean</td><td class=\"response-col3\">Are we buying or selling the instrument</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">leverage</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The trade's leverage</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The trade's opening rate</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openTimestamp</td><td class=\"response-col2\">date-time</td><td class=\"response-col3\">The timestamp of the opening of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">stopLossRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The stop/loss rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">takeProfitRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The take-profit rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">orderId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The original order ID in case the trade was opened with a LMT order</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">socialTradeId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">parentPositionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the parent social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">investment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The current invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">initialInvestment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The initial invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">fees</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The total fees accurred in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">units</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The number of units held on the asset in this trade</td>\n</tr>\n\n\n\n\n\n\n\n\n\n\n\n</table>\n<br>",
            "examples": {
              "application/json": "[\n  {\n    \"positionId\": 551556164,\n    \"instrumentId\": 18,\n    \"isBuy\": false,\n    \"leverage\": 10,\n    \"openRate\": 1192.61,\n    \"openTimestamp\": \"2017-01-30T06:04:00.17Z\",\n    \"stopLossRate\": 1306.18,\n    \"takeProfitRate\": 1079.89,\n    \"orderId\": 0,\n    \"socialTradeId\": 0,\n    \"parentPositionId\": 0,\n    \"investment\": 100,\n    \"initialInvestment\": 100,\n    \"fees\": 0,\n    \"units\": 0.84\n  },\n  {\n    \"positionId\": 557200209,\n    \"instrumentId\": 26,\n    \"isBuy\": true,\n    \"leverage\": 10,\n    \"openRate\": 10346.25,\n    \"openTimestamp\": \"2017-02-06T01:01:04.453Z\",\n    \"stopLossRate\": 9829.1,\n    \"takeProfitRate\": 10863.4,\n    \"orderId\": 10654742,\n    \"socialTradeId\": 0,\n    \"parentPositionId\": 0,\n    \"investment\": 200,\n    \"initialInvestment\": 200,\n    \"fees\": 0,\n    \"units\": 0.19\n  }\n]"
            }
          }
        }
      },
      "post": {
        "description": "The Add Entry Order allows creation of an entry order in the system. There are several types of orders which are available and are defined using the OrderType and ExecutionType parameters.\n<br><br>\nThe OrderType parameter may be either Market (abbreviated by MKT) or Limit (abbreviated by LMT).\n<br><br>\nThe ExecutionType can be either Good Till Cancelled (abbreviated by GTC) or Immediate or Cancel (abbreviated by IOC)\n",
        "operationId": "58aae5e3b9097113041e9ad2",
        "summary": "Entry Order<span> </span>",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\n  \"InstrumentId\": 1,\n  \"IsBuy\": true,\n  \"Leverage\": 10,\n  \"Investment\": 1500.00,\n  \"OrderType\": \"MKT\",\n  \"ExecutionType\": \"IOC\",\n  \"StopLossRate\": 0.980,\n  \"TakeProfitRate\": 1.1250,\n  \"IsTrailingStopLoss\": false\n}"
            },
            "description": "The body defines the actual order\n\n<div class=\"panel\">\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>InstrumentID</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The Instrument ID on which the order references</div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>IsBuy</label></div>\n<div class=\"col-md-1\">boolean</div>\n<div class=\"col-md-8\">Is the opened position on the buy or sell side</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>Leverage</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The requested leverage</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>Investment</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The invested amount for the order</div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>Units</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The number of units to buy (either this or the investment are mandatory)</div>\n</div>\n\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>OrderType</label></div>\n<div class=\"col-md-1\">string</div>\n<div class=\"col-md-8\">The order type can be either 'MKT' for market orders or 'LMT' for limit orders</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>ExecutionType</label></div>\n<div class=\"col-md-1\">string</div>\n<div class=\"col-md-8\">The execution type can be either 'GTC' for good till cancel orders, or 'IOC' for immediate of cancel orders</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>StopLossRate</label><span class=\"text-muted\">(optional)</span></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The stop loss rate for the position. This property is mandatory for limit orders and market orders which are immediate or cancel</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>TakeProfitRate</label><span class=\"text-muted\">(optional)</span></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The take profit rate for the position. This property is mandatory for limit orders and market orders which are immediate or cancel</div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>StopLossPct</label><span class=\"text-muted\">(optional)</span></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The stop loss percentage for the position. This is mandatory for market orders which are good till cancelled MKT/GTC</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>TakeProfitPct</label><span class=\"text-muted\">(optional)</span></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The take profit percentage for the position. This is mandatory for market orders which are good till cancelled MKT/GTC</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>LimitRate</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The limit rate. This is relevant for limit orders LMT/GTC</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>IsTrailingStopLoss</label></div>\n<div class=\"col-md-1\">boolean</div>\n<div class=\"col-md-8\">Should the trade be opened with a trailing stop loss</div>\n</div>\n\n</div>"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The add order request has been dispatched. The return value will contain the execution token",
            "examples": {
              "application/json": {
                "token": "5B08F2DB-72C3-4B6D-BBAD-9248FE6A3A4D"
              }
            }
          }
        }
      }
    },
    "/Metadata/{System}": {
      "get": {
        "description": "The Instruments metadata returns the trading metadata on assets",
        "operationId": "58ce4635f8090c17e3079f45",
        "summary": "Metadata",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The trading system. ",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Real",
              "Demo"
            ]
          },
          {
            "name": "InstrumentIds",
            "in": "query",
            "description": "Optional list of instrument ids. The list should be comma delimited",
            "type": "string"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An array of instrument metadata items",
            "examples": {
              "application/json": "[\n  {\n    \"instrumentId\": 1,\n    \"precision\": 4,\n    \"maxPositionUnits\": 2000000,\n    \"isDelisted\": false,\n    \"leverages\": [\n      1,\n      2,\n      5,\n      10,\n      25,\n      50,\n      100,\n      200,\n      400\n    ],\n    \"defaultLeverage\": 10,\n    \"minPositionAmount\": 25,\n    \"maxStopLossPercentage\": 100,\n    \"maxTakeProfitPercentage\": 1000,\n    \"allowSell\": true,\n    \"allowBuy\": true,\n    \"allowLimitOrderGTC\": true,\n    \"allowMarketOrderGTC\": true,\n    \"allowExitOrderIOC\": true,\n    \"allowExitOrderGTC\": true,\n    \"allowTradeEdit\": true,\n    \"allowMarketOrderIOC\": true\n  }\n]"
            }
          }
        }
      }
    },
    "/Trade/{System}/{PositionId}": {
      "put": {
        "description": "Editing the trade allows changing the stop loss (rate + trailing property) and the stop loss",
        "operationId": "58cf9bbe316b51bbefa7d641",
        "summary": "Trade<span></span>",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system which we will be using",
            "required": true,
            "type": "string",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "PositionId",
            "in": "path",
            "description": "The position ID which we would like to modify",
            "required": true,
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The edit operation has been dispatched for processing. The return value will contain the execution token. The actual execution result will return through the notifications infrastructure with the token",
            "examples": {
              "application/json": {
                "token": "5B08F2DB-72C3-4B6D-BBAD-9248FE6A3A4D"
              }
            }
          }
        }
      }
    },
    "/EntryOrder/{System}/{OrderId}": {
      "delete": {
        "description": "The Delete Entry Order allows cancellation of an entry order.",
        "operationId": "58d124adb90971148004715e",
        "summary": "Entry Order<span></span>",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "OrderId",
            "in": "path",
            "description": "The order id which we would like to delete",
            "required": true,
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\n  \"OrderType\": \"MKT\",\n}"
            },
            "description": "The body defines which order type to delete\n\n<div class=\"panel\">\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>OrderType</label></div>\n<div class=\"col-md-1\">string</div>\n<div class=\"col-md-8\">The order type can be either 'MKT' for market orders or 'LMT' for limit orders</div>\n</div>\n\n</div>"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The add order request has been dispatched. The return value will contain the execution token",
            "examples": {
              "application/json": {
                "token": "5B08F2DB-72C3-4B6D-BBAD-9248FE6A3A4D"
              }
            }
          }
        }
      }
    },
    "/ExitOrder/{System}": {
      "get": {
        "description": "The Order returns all the open exit orders in the system\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "58d132c1ec28c401307f6fbe",
        "summary": "Exit Order",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "\nThe method will return an array of exit orders. Each order will contain the following members\n\n<div class=\"panel\">\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>OrderId</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The unique identifier of the exit order </div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>PositionId</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The unique identifier of the trade which we are attempting to close </div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>OpenTimestamp</label></div>\n<div class=\"col-md-1\">date-time</div>\n<div class=\"col-md-8\">The timestamp of the creation of the exit order</div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>SocialTradeId</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">In case the position is part of a social trade, it's ID will be returned</div>\n</div>\n\n</div>",
            "examples": {
              "application/json": "[\n  {\n    \"orderId\": 12356,\n    \"positionId\": 551556164,\n    \"openTimestamp\": \"2017-01-30T06:04:00.17Z\",\n  }\n]"
            }
          }
        }
      },
      "post": {
        "description": "The Create Exit Order, will create an exit order in the system",
        "operationId": "58d13449b90971148004715f",
        "summary": "Exit Order<span> </span>",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\n  \"PositionId\": 123,\n  \"ExecutionType\": \"GTC\",\n  \"Units\": 0.1\n}"
            },
            "description": "The following is the structure of the body request\n\n<div class=\"panel\">\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>PositionId</label></div>\n<div class=\"col-md-1\">number</div>\n<div class=\"col-md-8\">The position which I would like to close</div>\n</div>\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>ExecutionType</label></div>\n<div class=\"col-md-1\">string</div>\n<div class=\"col-md-8\">The execution mode of the exit order. It can be either 'IOC' for immediate or cancel, or 'GTC' for good till cancelled</div>\n</div>\n</div>\n\n<div class=\"row panel-body\">\n<div class=\"col-md-3\"><label>Units</label></div>\n<div class=\"col-md-1\">string</div>\n<div class=\"col-md-8\">(Optional) Number of units to close</div>\n</div>\n</div>\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The add exit order request has been dispatched. The return value will contain the execution token",
            "examples": {
              "application/json": {
                "token": "5B08F2DB-72C3-4B6D-BBAD-9248FE6A3A4D"
              }
            }
          }
        }
      }
    },
    "/ExitOrder/{System}/{OrderId}": {
      "delete": {
        "description": "The Delete Exit Order, will delete an existing exit order from the system",
        "operationId": "58d13648ec28c401307f6fbf",
        "summary": "Exit Order<span></span>",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "OrderId",
            "in": "path",
            "description": "The exit order id",
            "required": true,
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The delete exit order request has been dispatched. The return value will contain the execution token",
            "examples": {
              "application/json": {
                "token": "5B08F2DB-72C3-4B6D-BBAD-9248FE6A3A4D"
              }
            }
          }
        }
      }
    },
    "/Credit/{System}": {
      "get": {
        "description": "The Credit method returns the current credit in the user account\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "5938e290b9097117789ceb72",
        "summary": "Credit",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "\nThe method will return The credit\n",
            "examples": {
              "application/json": {
                "credit": 1234.56
              }
            }
          }
        }
      }
    },
    "/Equity/{System}": {
      "get": {
        "description": "The Equity method returns the current equity in the user account\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "593f723db909711568e52967",
        "summary": "Equity",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "\nThe method will return The credit, the realized equity (cash + invested amount) and the current amount that the user may withdraw\n",
            "examples": {
              "application/json": {
                "credit": 6322.76,
                "realizedEquity": 15236.71,
                "withdrawableAmount": 0.0
              }
            }
          }
        }
      }
    },
    "/Equity/{System}/History/{Period}": {
      "get": {
        "description": "The Historic equity method returns a time-series of the periodic equity of a user\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "593f8ca0ec28c417d0853c09",
        "summary": "Equity History",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "Period",
            "in": "path",
            "description": "The Requested Period",
            "required": true,
            "type": "string",
            "default": "Daily",
            "enum": [
              "Daily"
            ]
          },
          {
            "name": "MinDate",
            "in": "query",
            "description": "Minimum Date",
            "required": true,
            "type": "string"
          },
          {
            "name": "MaxDate",
            "in": "query",
            "description": "Maximum Date",
            "required": true,
            "type": "string"
          },
          {
            "name": "Username",
            "in": "query",
            "description": "The requested username",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The method will return an array of equity items. In case the request is not authenticated all monetary values will be ommitted \n<br><br>\n<table class=\"response-row\">\n<tr>\n<td class=\"response-col1\">start</td><td class=\"response-col2\">datetime</td><td class=\"response-col3\">The timestamp of the beginning of the equity date</td>\n</tr>\n<tr>\n<td class=\"response-col1\">gain</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The daily gain. The gain formula takes into consideration cash-flow operations</td>\n</tr>\n<tr>\n<td class=\"response-col1\">isSimulation</td><td class=\"response-col2\">boolean</td><td class=\"response-col3\">Is the value a simulated value or a real value</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">startCredit</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The credit at the beginning of the day. The credit is the amount of money which is not currently invested in a trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">startInvestment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The total invested amount at the beginning of the day</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">startPnL</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The P&amp;L of the open trades at the beginning of the day</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">endCredit</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The credit at the end of the day. The credit is the amount of money which is not currently invested in a trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">endInvestment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The total invested amount at the end of the day</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">endPnL</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The P&amp;L of the open trades at the end of the day</td>\n</tr>\n\n\n<tr>\n<td class=\"response-col1\">positiveCashflows</td><td class=\"response-col2\">number</td><td class=\"response-col3\">Total positive cash-flows during the day, Positive cashflows are mostly deposits</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">negativeCashflows</td><td class=\"response-col2\">number</td><td class=\"response-col3\">Total negative cash-flows during the day. Negative cash-flows are money withdrawals</td>\n</tr>\n\n</table>\n<br>",
            "examples": {
              "application/json": " [\n  {\n    \"start\": \"2017-06-01T00:00:00Z\",\n    \"gain\": -0.03,\n    \"isSimulation\": false,\n    \"startCredit\": 0.0,\n    \"startInvestment\": 0.0,\n    \"startPnL\": 0.0,\n    \"startEquity\": 0.0,\n    \"endCredit\": 0.0,\n    \"endInvestment\": 0.0,\n    \"endPnL\": 0.0,\n    \"endEquity\": 0.0,\n    \"positiveCashflows\": 0.0,\n    \"negativeCashflows\": 0.0\n  },\n  {\n    \"start\": \"2017-06-02T00:00:00Z\",\n    \"gain\": 0.19,\n    \"isSimulation\": false,\n    \"startCredit\": 0.0,\n    \"startInvestment\": 0.0,\n    \"startPnL\": 0.0,\n    \"startEquity\": 0.0,\n    \"endCredit\": 0.0,\n    \"endInvestment\": 0.0,\n    \"endPnL\": 0.0,\n    \"endEquity\": 0.0,\n    \"positiveCashflows\": 0.0,\n    \"negativeCashflows\": 0.0\n  }\n]"
            }
          }
        }
      }
    },
    "/Fees/{System}": {
      "get": {
        "description": "The Instruments fees returns the rollover fees that are charged in the system\n\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "594628b1ec28c404b4105c62",
        "summary": "Fees",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The trading system. ",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Real",
              "Demo"
            ]
          },
          {
            "name": "InstrumentIds",
            "in": "query",
            "description": "Optional list of instrument ids. The list should be comma delimited",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An array of instrument fee items. The fees differ between buy/sell and leveraged vs. non leveraged trades. Each item has a daily fee and a weekend fee",
            "examples": {
              "application/json": "[\n    {\n        \"instrumentId\": 1,\n        \"leveragedSellFees\": {\n            \"daily\": -0.000003,\n            \"weekly\": -0.000009\n        },\n        \"nonLeveragedSellFees\": {\n            \"daily\": -0.000003,\n            \"weekly\": -0.000009\n        },\n        \"leveragedBuyFees\": {\n            \"daily\": 0.00006,\n            \"weekly\": 0.00018\n        },\n        \"nonLeveragedBuyFees\": {\n            \"daily\": 0.00006,\n            \"weekly\": 0.00018\n        }\n    }\n]"
            }
          }
        }
      }
    },
    "/Trade/{System}/History": {
      "get": {
        "description": "The Trade History method returns closed trades of the user according to the system\n<br><br>\nIt is important to note that the values of <span class=\"emph\">x-token</span> and <span class=\"emph\">x-csrf-token</span> must be sent as headers to this request. These values were returned from the <a href=\"https://api-portal.etoro.com/docs/services/58982f8b7dfd940ef4e0157d/operations/589831007dfd940ef4e0157e\">Account/Login <span class=\"badge badge-warning\">POST</span></a> command\n<br><br>",
        "operationId": "594f3b43b90971026445c3cf",
        "summary": "Trade History",
        "parameters": [
          {
            "name": "System",
            "in": "path",
            "description": "The system type where the data is requested from",
            "required": true,
            "type": "string",
            "default": "Real",
            "enum": [
              "Demo",
              "Real"
            ]
          },
          {
            "name": "MinDate",
            "in": "query",
            "description": "Minimum date for the historic trades",
            "required": true,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Requested Page",
            "required": true,
            "type": "integer"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The number of values per pages which should be returned",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          },
          {
            "name": "x-token ",
            "in": "header",
            "description": "Security Token from Login Operation",
            "type": "string"
          },
          {
            "name": "x-csrf-token",
            "in": "header",
            "description": "Security Token from Login Operation",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An array of trades. Each trade contains the following:\n<br><br>\n<table class=\"response-row\">\n<tr>\n<td class=\"response-col1\">positionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The position ID is a unique identifier of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">instrumentId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The instrument ID of the trade. For a full list of IDs use the <a href=\"https://api-portal.etoro.com/docs/services/5784e8446361c811ccfdf536/operations/5784f6ee6361c811ccfdf53b\">Metadata/Instruments API</a></td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">isBuy</td><td class=\"response-col2\">boolean</td><td class=\"response-col3\">Are we buying or selling the instrument</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">leverage</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The trade's leverage</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The trade's opening rate</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">openTimestamp</td><td class=\"response-col2\">date-time</td><td class=\"response-col3\">The timestamp of the opening of the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">stopLossRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The stop/loss rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">takeProfitRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The take-profit rate for the trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">orderId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The original order ID in case the trade was opened with a LMT order</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">socialTradeId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">parentPositionId</td><td class=\"response-col2\">integer</td><td class=\"response-col3\">The ID of the parent social trade. If the trade was opened with regular trading, the value will always be 0</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">investment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The current invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">initialInvestment</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The initial invested amount in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">fees</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The total fees accurred in the account base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">units</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The number of units held on the asset in this trade</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">netProfit</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The net profit of the trade in the base currency</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">closeRate</td><td class=\"response-col2\">number</td><td class=\"response-col3\">The rate which the trade was closed</td>\n</tr>\n\n<tr>\n<td class=\"response-col1\">closeTimestamp</td><td class=\"response-col2\">datetime</td><td class=\"response-col3\">The timestamp of the closing</td>\n</tr>\n\n\n\n\n\n\n\n\n\n\n\n\n\n</table>\n<br>",
            "examples": {
              "application/json": "[\n  {\n    \"positionId\": 493978444,\n    \"instrumentId\": 28,\n    \"isBuy\": false,\n    \"leverage\": 2,\n    \"openRate\": 4821.6,\n    \"openTimestamp\": \"2016-11-09T21:51:54.19Z\",\n    \"stopLossRate\": 6022.35,\n    \"takeProfitRate\": 4455.6,\n    \"trailingStopLoss\": false,\n    \"orderId\": 0,\n    \"socialTradeId\": 1954235,\n    \"parentPositionId\": 193709723,\n    \"investment\": 656.05,\n    \"initialInvestment\": 656.05,\n    \"fees\": 20.8,\n    \"units\": 0.27,\n    \"netProfit\": -292.48,\n    \"closeRate\": 5892.25,\n    \"closeTimestamp\": \"2017-06-06T14:36:20.06Z\",\n  },\n  {\n    \"positionId\": 481891110,\n    \"instrumentId\": 28,\n    \"isBuy\": false,\n    \"leverage\": 2,\n    \"openRate\": 4917.4,\n    \"openTimestamp\": \"2016-10-25T07:40:09.993Z\",\n    \"stopLossRate\": 6145.15,\n    \"takeProfitRate\": 4455.6,\n    \"trailingStopLoss\": false,\n    \"orderId\": 0,\n    \"socialTradeId\": 1954235,\n    \"parentPositionId\": 192171185,\n    \"investment\": 654.92,\n    \"initialInvestment\": 654.92,\n    \"fees\": 22.08,\n    \"units\": 0.27,\n    \"netProfit\": -260.01,\n    \"closeRate\": 5892.25,\n    \"closeTimestamp\": \"2017-06-06T14:36:20.057Z\",\n  }\n]"
            }
          }
        }
      }
    }
  },
  "tags": []
}